
    h1{
    
        color: white;
        
        }
        
        body{
        
        background-image: url(https://www.inovacaotecnologica.com.br/noticias/imagens/010130090401-skylon-4.jpg);
        
        background-repeat: no-repeat;
        
        background-size: cover;
        
        }